* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

button {
    border: solid 1px black;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    padding: 5px;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.add-book-form {
    width: 100%;
    height: 340px;
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    &>* {
        margin-bottom: 10px;
    }
}

.title-input {
    width: 300px;
}

.method {
    cursor: pointer;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    margin-bottom: 10px;
    &:hover {
        background-color: rgb(185, 179, 179);
    }
    & .indicator {
        display: inline-block;
        border-radius: 50%;
        background-color: gray;
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }
}


.books-block {
    border: solid 1px black;
    display: flex;
    height: 500px;
    overflow: auto;
}
.books-list {
    border-right: solid 1px black;
    width: 400px;
    padding: 5px;
    &_common, &_favorite {
        min-height: 50px;
        display: flex;
        flex-direction: column;
        border-top: solid 1px black;
        padding-top: 5px
    }
    &_item {
        border: solid 1px black;
        padding: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
            border: solid 1px gray;
        }
        &>span {
            font-size: 12px;
            margin-right: 5px;
            display: inline-block;
            &:hover {
                color: rgb(250, 16, 16);
            }
        }
    }
}

.books-action {
    width: 100%;
    padding: 10px;
    &_read {
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
        border: solid 1px black;
    }
}

.content-book {
    width: 100%;
    height: 170px;
    resize: none;
}